.helios {
    > button.helios-arrow {
        position: absolute;
        top: 50%;

        &.helios-prev {
            left: 0;
        }

        &.helios-next {
            right: 0;
        }
    }
}
